.btn-primary {
  background-color: rgb(219, 228, 138);
}
mat-card {
  width: 256px;
  list-style: none;
}

body {
  background-color: rgb(219, 228, 138);
  list-style: none;
}
.mat-app-background {
  background-color: #000057;
}

.btn-primary {
  background-color: #e8f75f;
}

mat-card {
  width: 60%;
  margin: auto;
  text-align: center;
}

.title {
  margin: auto;
  background-color: #000057;
  color: white;
}

.quit-button {
  background-color: rgb(98, 137, 161);
}
