.mat-app-background {
  font-size: 18px;
}

.btn-primary {
  background-color: rgba(248, 130, 19, 0.877);
}

body {
  background-color: rgb(13, 4, 95);
}

mat-card {
  width: 50%;
  margin: auto;
  text-align: center;
  list-style: none;
}

.title {
  margin: auto;
  background-color: #000057;
  color: white;
  font-size: 32px;
}

ul.ba {
  list-style-type: none;
  display: inline;
}

fieldset {
  overflow: hidden;
}

.some-class {
  float: left;
  clear: none;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

input[type="radio"],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 45px;
}
