mat-card {
  width: 75%;
  margin: auto;
  text-align: center;
}

.quiz-btn {
  display: inline-block;
  margin: 3px;
}

.welcome-title {
  font-weight: 700;
  font-size: 32px;
}

.welcome-subtitle {
  font-weight: 400;
  font-size: 22px;
}

.welcome-quiz-title {
  font-size: 20px;
}

.welcome-quiz-description {
  font-size: 18px;
}
